* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: black;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
}

/* ===============================
   CELULAR
   =============================== */
@media (max-width: 576px) {
.caja {
    width: 100%;
    background-color: black;
    font-size: 18px;
}
}

/* ===============================
   TABLET
   =============================== */
@media (min-width: 577px) and (max-width: 992px) {
.caja {
    width: 80%;
    background-color: black;
    font-size: 20px;
}
}

/* ===============================
   PANTALLAS GRANDES
   =============================== */
@media (min-width: 993px) {
.caja {
    width: 50%;
    background-color: black;
}
}

body{
    background-color: black;
    text-align: center;
}

section{
    transform: scale(.7);
    background-color: #ed879f;
    width: 600px;
    margin: -200px 0px 0px -200px;
    border-radius: 25px;
}
img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 20px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}  
p{
    color: rgb(229, 242, 46);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 18px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0px 10px 0px;
    font-size: 32px;
}
.btn{
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 20px;
    width: 550px;
    margin: 20px 5px 10px 25px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    margin: 50px 0px 50px 0px;
    font-size: 25px;
    cursor: pointer;

}
a:hover{
    color: gray;
}
.redes{
    padding-bottom: 20px;
}
